{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="main-content text-center py-20">
    <a href="https://ioaajr2024.org/" target="_blank" rel="noopener noreferrer">
        <img src="{% static 'images/IOAA_Jr-01[1].png' %}" alt="IOAA Jr 2024 Logo" class="main-image mx-auto">
     </a>

    <div class="text-block mx-auto mt-8 p-6 rounded-lg shadow-lg">
        <h1 class="text-4xl font-bold main-title mt-5">Welcome to IOAA-Jr. 2024</h1>
        <p class="text-lg mt-3">The IOAA-Jr. 2024 website is your gateway to an exciting international astronomy event, 
            connecting young minds and guiding participants with essential info and updates. This ensures the seamless registration process and documentation.
            Reach for the stars!</p>
    </div>
</section>
{% endblock %}